attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
Faker>=13.12.0
idna==3.10
iniconfig==2.0.0
jsonschema==4.22.0
packaging==21.3
pluggy==1.5.0
py==1.11.0
pyparsing==3.0.9
pyrsistent==0.18.1
pytest==8.3.3
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.17.0
tomli==2.2.1
urllib3==2.4.0
pytest-repeat==0.9.4
pytest-asyncio>=0.23.7
pydantic==2.9.2
pytest-rerunfailures~=15.1
ruff==0.11.13
allure-pytest>=2.8.18
allure-python-commons~=2.13.5
httpx~=0.28.1
swagger-parser>=1.0.2
matplotlib>=3.9.2
pyyaml>=6.0.2